.card {
    width: 300px;
    height: 300px;
    background-color: var(--soft-gray);
    color: var(--gray);
    border-radius: 8px;
    box-shadow: 5px 5px 10px #22222270;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
  }

.card h3 {
    color: var(--primary);
    margin: 0; /* Remova a margem padrão do h3 */
}

.card_footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: var(--red);
    transition: all .5s;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px; /* Adicione um preenchimento para espaçar o conteúdo */
}

/* Adicione qualquer estilo adicional necessário para suas divs dentro do container */
